# Домашнее задание 2
## 1. Вывести все уникальные бренды, у которых стандартная стоимость выше 1500 долларов.
```sql
select distinct t.brand  from "transaction" t 
where t.standard_cost > 1500
```
## 2. Вывести все подтвержденные транзакции за период '2017-04-01' по '2017-04-09' включительно.
```sql
select * from "transaction" t
where t.order_status = 'Approved'
and t.transaction_date between '2017-04-01' and '2017-04-09'
```
## 3. Вывести все профессии у клиентов из сферы IT или Financial Services, которые начинаются с фразы 'Senior'.
```sql
select c.job_title from customer c 
where c.job_industry_category in ('IT', 'Financial Services')
and c.job_title like 'Senior%'
```
Либо, если требуются только уникальные названия профессий: 
```sql
select distinct c.job_title from customer c 
where c.job_industry_category in ('IT', 'Financial Services')
and c.job_title like 'Senior%'
```
## 4. Вывести все бренды, которые закупают клиенты, работающие в сфере Financial Services.
```sql
select t.brand from transaction t 
join customer c on t.customer_id = c.customer_id
where c.job_industry_category = 'Financial Services'
```
Либо, если требуются только уникальные названия брендов: 
```sql
select distinct t.brand from transaction t 
join customer c on t.customer_id = c.customer_id
where c.job_industry_category = 'Financial Services'
```
## 5. Вывести 10 клиентов, которые оформили онлайн-заказ продукции из брендов 'Giant Bicycles', 'Norco Bicycles', 'Trek Bicycles'.
```sql
select c.* from customer c
join transaction t on t.customer_id = c.customer_id
where t.online_order = true
and t.brand in ('Giant Bicycles', 'Norco Bicycles', 'Trek Bicycles')
limit 10
```
## 6. Вывести всех клиентов, у которых нет транзакций.
```sql
select c.* from customer c
left join transaction t on t.customer_id = c.customer_id
where t.customer_id is null
```
## 7. Вывести всех клиентов из IT, у которых транзакции с максимальной стандартной стоимостью.
```sql
select c.* from customer c
join transaction t on t.customer_id = c.customer_id
where c.job_industry_category = 'IT'
and t.standard_cost = (select max(standard_cost) from transaction)
```
## 8. Вывести всех клиентов из сферы IT и Health, у которых есть подтвержденные транзакции за период '2017-07-07' по '2017-07-17'.
```sql
select c.* from customer c
join transaction t on t.customer_id = c.customer_id
where c.job_industry_category in ('IT', 'Health')
and t.transaction_date between '2017-07-07' and '2017-07-17'
and t.order_status = 'Approved'
```